{% extends "index/student.html" %}




{% block body %}

<section dir="ltr" style="  min-height: 100vh; width: 100%;text-align: center;">
    {% if '-ar' not in request.build_absolute_uri %}
    <h1 style="  font-size: 1.3em; border-bottom: none ; color: rgb(27, 27, 28); margin-top: 10px;" class="T" data-shadow='Classes'>Click to start the exam</h1> 

    <nav class="exs" style="display: flex;width: 100%; flex-direction: column; flex-wrap: wrap; justify-content: space-evenly,left; margin-top: 50px; font-size: 2em; background-color: #fdfdfda9;margin: 10px; padding-bottom: 40px;">
       {% for exam in exams %} 
       {% if exam.school == rulee.school %}
       <nav class="list2" style="margin: 20px;"><div class="dropdown" >
            <button class="btn btn-primary " type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background: none; border: none; color: black; font-size: 1em;">
                {{exam.category}}:<a>{{exam.name}}</a> <p style="font-size: 0.8em; color: rgb(42, 42, 246);"> by {{ exam.teacher.name }}</p>
            </button>
            <ul class="dropdown-menu">
              <li><a href="{%  url 'Examss'  id=exam.id name=exam.name  %}" class="dropdown-item" type="button">Start Now</a></li>
              
            </ul></nav>
            {% else %}
            {% endif %}{% endfor %}

            {% elif '-ar' in request.build_absolute_uri %}
            <h1 style="         font-family:
            'Indie Flower', cursive
            ,'Kalam', cursive
            ,'Kanit', 
            'Readex Pro',
            'Sansita', sans-serif
            ,'Sofia Sans Semi Condensed', 
            'Ysabeau Office', sans-serif;  font-size: 1em; padding-top: 10px; margin-left: 30px; border-bottom: none ; color: rgb(27, 27, 28); margin-top: 10px;" class="T" data-shadow='Classes'>اضغط  لبدء الاختبار</h1> 

            <nav class="exs" style="display: flex; width: 100%; flex-direction: column; flex-wrap: wrap; justify-content: space-evenly,left; margin-top: 50px; font-size: 2em; margin: 10px; padding-bottom: 40px;">
               {% for exam in exams %} 
               {% if exam.school == rulee.school %}
               <nav class="list2" style="margin: 20px;"><div class="dropdown" >
                    <button class="btn btn-primary " type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background: none; border: none; color: black; font-size: 1em;">
                        {{exam.category}}:<a>{{exam.arname}}</a> <p style="font-size: 0.8em; color: rgb(42, 42, 246);">{{ exam.teacher.name }} بواسطة </p>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a style="text-align: right;" href="{%  url 'Examss-ar'  id=exam.id name=exam.name  %}" class="dropdown-item" type="button">ابدأ الان</a></li>
                      
                    </ul></nav>
                    {% else %}
                    {% endif %}{% endfor %}
            {% endif %}

    </nav>
    
</section>
   
{% endblock %}